label, input[type='checkbox'] {
    cursor: pointer;
    user-select: none;
}
.main{
    user-select: none;
    font-size: 18px;
    font-weight: bold;
    }
.sub{
    font-size: 14px;
}
.macrolist{
    border-collapse: collapse;
    border: 2px;
    background-color: #ffe9b1;
}
.list-t{
    background-color: #f8a63a;
    border: 2px #ffffff;
}
td{
    padding: 1px 5px;
}
tbody tr:nth-child(even){
    background-color: #FCD994;
}
body{
    font-size: 15px;
}
